/* header*/
.navdiv{
    display: flex;
    justify-content: space-between;
}
li{
    type:none;
}


/* banner*/
#banner{
    background-color:rgb(187, 207, 244);
    width: 100%;
    height: 750px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-family: "Fira Sans", serif;
    font-weight: normal;
    
}

.content,image{
    width: 50%;
}

.content{
    margin-left: 50px;
    margin-bottom: 120px;
}

.image{
    padding-right: 160px;
}
    
.image img{
    max-width: 100%;
    height: auto;
}
.content h3{
    color:gray;
}
.content h2{
    font-size: 80px;
}
.content input{
    padding: 12px,25px;
    background-color:rgb(25, 52, 25);
    outline:none;
    color:white;
    border:1px solid rgb(25, 52, 25);
    border-radius: 5px;
    font size:15px

}
.content input:hover{
    transition: all .5s ease-in 0.1s;
    color: red;
    background-color: aqua;
}
/*part 1 end*/
/*2nd part*/
#card-box{
    width:884px;
    margine:0 auto;

}
#card-box .title{

}
.card-container{
    margin-top: 30px;
display:flex;
justify-content: space-between;
gap:20px;
font-family: fira sans;
width:100%;
}
.card{
    max-width: 350px;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    background-color: ;
    padding:20px;

}
.card .image-box{
    width:200px;

}
.card .image-box{
    width:100%;
}
.card-container .color1{
    background-color: rgba(78, 115, 178, 0.2);
    padding:20px;
    border-radius: 5px;
}
.card-container .color2{
    background-color: rgb(198, 228, 214);
    padding:20px;
    border-radius: 5px;
}
.card-container .color3{
    background-color:rgb(247, 235, 207) ;
    padding:20px;
    border-radius: 5px;
}





/*3rd part*/
/*item1*/
.news-item1{
width: 100%;
height:350px;
display: flex;
justify-content:center;
align-items: center;
background-color: rgba(127, 255, 212, 0.332);
border-radius: 5px;
}

.recent div{
    width:40%;
    margie:  auto;
}
.recent img1{
    width: 50%;
    height:auto;

}
.recent img1{
    padding-left:150px;
    border-radius: 10px;
} 
.img1,text1{
    width: 50%;
}

#recent p{
    color:gray
}

.text1 input{
    font-size: 10px;
    padding:10px;
    outline:none;
    color:white;
    background-color: green;
    border-radius: 5px;
}
.text1 input:hover{
    transition: all .5s ease-in 0.1s;
    color: red;
    background-color: aqua;}

    /*2nd item*/
    .news-item2{
        width: 100%;
        height:350px;
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: rgba(127, 255, 212, 0.332);
        border-radius: 5px;
        }
        
        .recent div{
            width:40%;
            margie:  auto;
        }
        .recent img2{
            width: 50%;
            height:auto;
        
        }
        .recent img2{
            padding-left:150px;
            border-radius: 5px;
        } 
        .img2,text2{
            width: 50%;
        }
        
        #recent p{
            color:gray
        }
        
        .text2 input{
            font-size: 10px;
            padding:10px;
            outline:none;
            color:white;
            background-color: green;
            border-radius: 5px;
        }
        .text2 input:hover{
            transition: all .5s ease-in 0.1s;
            color: red;
            background-color: aqua;}
    /*3rd item*/
    .news-item3{
        width: 100%;
        height:350px;
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: rgba(127, 255, 212, 0.332);
        border-radius: 5px;
        }
        
        .recent div{
            width:40%;
            margie:  auto;
        }
        .recent img3{
            width: 50%;
            height:auto;
        
        }
        .recent img3{
            padding-left:150px;
            border-radius: 5px;
        } 
        .img3,text3{
            width: 50%;
        }
        
        #recent p{
            color:gray
        }
        
        .text3 input{
            font-size: 10px;
            padding:10px;
            outline:none;
            color:white;
            background-color: green;
            border-radius: 5px;
        }
        .text3 input:hover{
            transition: all .5s ease-in 0.1s;
            color: red;
            background-color: aqua;}
            .news-item1,.news-item2,.news-item3{
                padding:10px 25px 10px 25px;
                
            }
           /*part 3 end*/

           /*part 4*/
           .btn{
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items:center;
             gap:10px;
             
           }
           
.button,button2,{
  margine:10px;
  padding:40px 50px;
  background-color: rgb(211, 211, 205);
  color:black;
  font-weight: 700;
  Border:none;
  border-radius: 5px;
  cursor:pointer;
  gap:5px;
  

           }
           #develop {
            width:100%;
            margine:0 auto;
            display:flex;
            gap:20px;
            flex-wrap: wrap;
            justify-content: space-evenly;
          

           }
           .btn button2{
            background-color: rgb(15, 199, 193);
            margine:10px;
            padding:8px;
            border-radius: 5px;
  cursor:pointer;
           }

           
           
button:hover{
    background-color: aqua;
}
 
.donate{
    width:400;
    margin:0 auto;
    text-align: center;
}
.donate p{
    opacity: (0, 0 , .6);
}
.quote{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding:5px;

}
.quote h4{

    Font: Fira Sans
Font weight: 600
Font size: 20pxpx
Row height: 24px
Letter spacing: 0%
Align: Align left
    
}
.quote .vector{
    background-position: center;

}


#form{
    margin: o auto;

justify-content: center;
align-items: center;  
width: 300px;
height: 200px;
border-radius: 10px;
background-color: rgb(198, 228, 214);
padding: 20px;
flex: none;
order: 5;

}

footer{
   position: static;
width: 450px;
height: 226px;
width: 100%;
        height:350px;
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: rgba(127, 255, 212, 0);
        border-radius: 5px;
        }


